
.chat
  .chat-side
    .chat-user
      %h5= current_user.name
      .chat-user__actions
        %a.chat-user__action
        = link_to new_group_path, class: "chat-user__action" do
          %i.fa.fa-pencil-square-o
        = link_to edit_user_registration_path(@users), class: "chat-user__action" do
          %i.fa.fa-cog

    %ul.chat-groups
      - @groups.each do |group|
        %li.chat-group
          = link_to group_messages_path(group),class: 'chat-group__link' do
            %p.chat-group__name= group.name
            %p.chat-group__message= group.name

  .chat-main
    .chat-main-header
      .chat-main-header--left
        %h2 TECH::CAMP
        %p.chat-main-header--left__users
          Members:
          %span.chat-main-header--left__user daisuke
          %span.chat-main-header--left__user shiroma
          %span.chat-main-header--left__user ddd
      .chat-main-header--right
        = link_to edit_group_path(@group) do
          .chat-main-header--right__edit-btn Edit


    .chat-main-body
      %ul.chat-main-messages
        - @messages.each do |message|
          %li.chat-main-message
            .chat-main-message__header
              %p.chat-main-message__header__name
                = message.user.name
              %p.chat-main-message__header__time
                = message.created_at.strftime("%Y-%m-%d %H:%M:%S")
            %p.chat-main-message__header__body
              = message.body
          %li.chat-main-message

    .chat-main-footer
      = form_for [@group, @message] do |f|
        .chat-main-footer__body
          = f.text_area :body, row: "1", placeholder: "type a message"
          %label.chat-main-footer__body__file
            = f.file_field :image
            %i.fa.fa-image
        = f.submit "Send", id: "submit"

